.forrest__nav {
text-align: center;
padding-top: 85px;
padding-bottom: 90px;
max-width: 450px;
width: 100%;
margin: 0 auto;

    &--text {
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #E4E4E4;
    }

    &--btn {
       display: flex;
       justify-content: space-around;
       margin-top: 87px;
    }

    &--link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100px;
        height: 100px; 
        border-radius: 50%;
        background: rgba(56, 163, 165, 0.3);
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 200;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
        color: #80ED99;
        
            font-size: 36px;
            font-weight: 200;
            line-height: 44px;
            letter-spacing: 0em;
    }
}