.forrest__container {
    backdrop-filter: blur(20px);
background-image: url('../../images/background.jpg');

background-size: cover;

background-position: top;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-repeat: repeat;
text-decoration: none;
list-style: none;
overflow: auto;
-webkit-overflow-scrolling: touch;
max-width: 540px;
width: 100%;
height: 100%;
}

body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    background-color: #1E1E1E;
}